@using FishingMania.Services.Data.Models.HotelModels

@model HotelDetailViewModel

<h3>Detail Hotel</h3>

<form asp-controller="Hotel" asp-action="DetailHotel">
    <label class="col-form-label" asp-for="Name"></label>
    <input class=" form-control" asp-for="Name" />

    <label class="col-form-label" asp-for="PictureURL"></label>
    <input class=" form-control" asp-for="PictureURL" />

    <label class="col-form-label" asp-for="Location"></label>
    <input class=" form-control" asp-for="Location" />

    <label class="col-form-label" asp-for="Price"></label>
    <input class=" form-control" asp-for="Price" />

    <label class="col-form-label" asp-for="FreePlace"></label>
    <input class=" form-control" asp-for="FreePlace" />


    <label class="col-form-label" asp-for="Description"></label>
    <textarea class="form-control" asp-for="Description"></textarea>


    <input hidden asp-for="Id" />

    
    <div>
        <button class="btn btn-primary">Edit Hotel</button>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#Delite-Modal">Delete Hotel</button>
    </div>
</form>

<div class="modal fade" id="Delite-Modal" tabindex="-1" role="dialog" aria-labelledby="Delite-Modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">You will delete fishing play</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <b>@Model.Name</b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <a asp-controller="Hotel" asp-action="DeleteHotel" asp-route-id="@Model.Id" class="btn btn-primary">Delete</a>
            </div>
        </div>
    </div>
</div>
<script>

    const deleteFishingPlace = () => {
        fetch(`/Hotel/DeleteHotel?fishingPlaceId=${@Model.Id}`)
            .then(() => redirectToFishingPlace().catch((error) => { console.error('Error:', error); }));
    }
    const redirectToPrivacy = () => {
        window.location = "/FishingPlace/FishingPlace";
    }

</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}