@model AddPlaceViewModel

<h3>Add Fishing place</h3>

<form asp-controller="FishingPlace" asp-action="AddFishingPlace">
    <label class="col-form-label" asp-for="Name"></label>
    <input class=" form-control" asp-for="Name" />

    <label class="col-form-label" asp-for="PictureURL"></label>
    <input class=" form-control" asp-for="PictureURL" />

    <label class="col-form-label" asp-for="Location"></label>
    <input class=" form-control" asp-for="Location" />

    <label class="col-form-label" asp-for="Description"></label>
<textarea class="form-control" asp-for="Description"></textarea>
    <div class="mb-3">
        <label asp-for="@Model.TypeFishingId" class="form-label-add-edit">Select FishingTypes</label>
        <select asp-for="@Model.TypeFishingId" class="form-control" aria-required="true" asp-items="@(new SelectList(Model.FishingTypes, "Id", "Name"))">
            <option value="">Select FishingType...</option>
        </select>
        <span asp-validation-for="@Model.TypeFishingId" class="text-danger"></span>
    </div>

  
    <button class="btn btn-primary">Add Fishing Place</button>
</form>