
<div class="text-center">
    <div class="p-3 mb-2 bg-dark text-white"><b>FISHING MANIA</b></div>
    <div class="p-3 mb-2 bg-light text-dark">
        <b>
            The Club Mania is a community club bringing together like-minded
            people in a safe and friendly environment. The FCM has a strong family focus and encourages family fishing and education of
            junior anglers in safe and enjoyable fishing practices.  The FM also hosts monthly club events for fishing enthusiasts to
            compete for club points and the coveted annual Angler of the Year.
        </b>
    </div>
</div>
<div> </div>
<div class="row bg-light text-dark">
    <div class="col-md-3">
        <b>ADDRESS:  </b>
    </div>
    <div class="col-md-9">
        City Stara Zagota, Bul. Sveti Patriarh Evtimiy
    </div>
</div>
<div> </div>
<div class="row bg-light text-dark">
    <div class="col-md-3">
        <b>GSM:  </b>
    </div>
    <div class="col-md-9">
        088**********
    </div>
</div>
<div> </div>
<div class="row bg-light text-dark">
    <div class="col-md-3">
        <b>BANK ACOUNT:  </b>
    </div>
    <div class="col-md-9">
        BG*************
    </div>
</div>
<div>
    <div class="row bg-light text-dark">
        <div class="col-md-3">
            <b> . </b>
        </div>
    </div>
</div>
<div onclick="window.location='https://maps.app.goo.gl/i7Ynf6oQ1GRHHnp76'" id="fishingPlace-container" class="row bg-light text-dark">
    <div class="col-md-3">
        <b>LOCATION:  </b>
    </div>
    <div class="col-md-9">
        <img src="~/PIC/Location.png" class="img-thumbnail" />
    </div>
</div>