<div class="text-center">
    <h2>
        BULGARIAN FISHES
    </h2>
</div>
<div>
                                                               
</div>
<div onclick="window.location='https://en.wikipedia.org/wiki/Carp'" id="fishingPlace-container" class="container">
    <h4>Carp</h4>
    <div class="row">
        <div class="col-md-3">
            <img src="https://glasnews.bg/news/2020/12/05/zashto-tochno-sharan-nikulden-legendi-i-427.png" class="img-thumbnail" />
        </div>
        <div class="col-md-9">
            <p>
                The term carp (pl.: carp) is a generic common name for numerous species of freshwater fish from the family Cyprinidae, a very large clade of ray-finned fish mostly native to Eurasia. While carp are prized quarries and are valued (even commercially cultivated) as both food and ornamental fish in many parts of the Old World,[1] they are considered trash fish and invasive pests in many parts of Africa, Australia and most of the United States
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col text-right">
            <b>Location :</b> Bulgaria
        </div>
    </div>
</div>
<hr />
<div onclick="window.location='https://en.wikipedia.org/wiki/Carassius'" id="fishingPlace-container" class="container">
    <h4>Carassius</h4>
    <div class="row">
        <div class="col-md-3">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/CarassiusCarassius8.JPG/1200px-CarassiusCarassius8.JPG" class="img-thumbnail" />
        </div>
        <div class="col-md-9">
            <p>
                Carassius is a genus in the ray-finned fish family Cyprinidae. Most species in this genus are commonly known as crucian carps, though that term often refers specifically to C. carassius. The most well known species is the goldfish (C. auratus). They have a Eurasian distribution, apparently originating further to the west than the typical carps (Cyprinus genus, which includes the common carp).
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col text-right">
            <b>Location :</b> Bulgaria
        </div>
    </div>
</div>
<hr />
<div onclick="window.location='https://en.wikipedia.org/wiki/European_perch'" id="fishingPlace-container" class="container">
    <h4>Perch</h4>
    <div class="row">
        <div class="col-md-3">
            <img src="https://riboco.com/UserFiles/Image/articles/kostur%202.jpg" class="img-thumbnail" />
        </div>
        <div class="col-md-9">
            <p>
                The perch is a popular game fish for recreational anglers, and has been widely introduced beyond its native Eurasian habitats into Australia, New Zealand and South Africa. Known locally simply as "redfins", they have caused substantial damage to native fish populations in Australia and have been proclaimed a noxious species in New South Wales.
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col text-right">
            <b>Location :</b> Bulgaria
        </div>
    </div>
</div>
<hr />
<div onclick="window.location='https://en.wikipedia.org/wiki/Common_rudd'" id="fishingPlace-container" class="container">
    <h4>Common rudd</h4>
    <div class="row">
        <div class="col-md-3">
            <img src="https://thefishcode.com/_next/image?url=https%3A%2F%2Ffishcode.s3.eu-west-1.amazonaws.com%2Fscardinius_erythrophthalmus_2140247a6f.jpg&w=3840&q=75" class="img-thumbnail" />
        </div>
        <div class="col-md-9">
            <p>
                Morphologically, this species is very similar to the roach (Rutilus rutilus), with which it can be easily confused. It can be identified by the yellow eye colour. The eye of the roach has a big red spot above the pupil, that can be more or less conspicuous. The rudd has an upturned mouth allowing it to feed easily at the top of the water. The placement of the dorsal fin is more to the rear which is even visible in very young fish. There are normally only one or two scales between the tip of the pelvic fins and the anal fins, while on the roach there are five. Also the skin of the rudd is yellowish green, while the roach is bluish on the flanks. Also the upturned mouth is visible even in young fish. Furthermore, the rudd's number of soft rays in the dorsal fin (8–9 compared to 10–12).
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col text-right">
            <b>Location :</b> Bulgaria
        </div>
    </div>
</div>
<hr />
<div onclick="window.location='https://en.wikipedia.org/wiki/Northern_pike'" id="fishingPlace-container" class="container">
    <h4>Northern pike</h4>
    <div class="row">
        <div class="col-md-3">
            <img src="https://cdn.pixabay.com/photo/2023/10/18/10/37/ai-generated-8323758_640.jpg" class="img-thumbnail" />
        </div>
        <div class="col-md-9">
            <p>
                Pike can grow to a relatively large size. Their average length is about 40–55 cm (16–22 in), with maximum recorded lengths of up to 150 cm (59 in) and maximum weights of 28.4 kg (63 lb).[3] The IGFA currently recognises a 25 kg (55 lb) pike caught by Lothar Louis on Greffern Lake, Germany, on 16 October 1986, as the all-tackle world-record holding northern pike
            </p>
        </div>
    </div>
    <div class="row">

        <div class="col text-right">
            <b>Location :</b> Bulgaria
        </div>
    </div>
</div>
<hr />