@{
    ViewData["Title"] = "Home Page";
}

<div onclick="window.location='/Home/FishingClubMania'" id="fishingPlace1-container" class="text-center">
    <div class="p-3 mb-2 bg-dark text-white"><b>FISHING CLUB MANIA</b></div>
</div>
<div class="text-center">
    <img src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/22/df/c6/dc/caption.jpg?w=700&h=-1&s=1" class="img-fluid" alt="Responsive image">
</div>

<div class="text-center">
    <div class="p-3 mb-2 bg-success text-white">
        Fishing Club Mania is a community club bringing together like-minded
        people in a safe and friendly environment. The FCM has a strong family focus and encourages family fishing and education of
        junior anglers in safe and enjoyable fishing practices.  The FCM also hosts monthly club events for fishing enthusiasts to
        compete for club points and the coveted annual Angler of the Year.
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <div class="p-3 mb-2 bg-white text-dark">
            <b>
                Address:
                Stara Zagora
            </b>
        </div>
    </div>

    <div class="col text-right">
        <div class="p-3 mb-2 bg-white text-dark"><b>GSM: 088********</b></div>
    </div>

</div>